<table>
  <tr>
    <td>
      <p class="lede">
        Quote Request New Comment Notification
      </p>
      <p>
        <%= Spree.t('quote_mailer.quote_request_comment_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('quote_mailer.quote_request_comment_email.comment_summary') %>
      </p>

      <%= link_to Spree.t('quote_mailer.quote_request_comment_email.see_quote_request'), admin_quote_request_url(@quote_request) %>

      <dl class="quote-request-info">
        <dt id="quote_request_number" data-hook><%= Spree.t(:quote_request_number) %>:</dt>
        <dd><span><%= @quote_request.number %></span></dd>

        <% if @quote_request.quote.present? && @quote_request.quote.is_quote? %>
          <dt id="quote_request_order" data-hook>Quote</dt>
          <dd><span><%= link_to @quote_request.quote, quote_url(@quote_request.quote) %></span></dd>
        <% end %>
      </dl>
    </td>
    <td class="expander"></td>
  </tr>
</table>
