<% if @quote && @quote.user && @quote.user.email.present? %>
  Dear <%= @quote.user.to_s %>,
<% else %>
  <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
<% end %>

<%= Spree.t('quote_mailer.quote_request_notification_email.instructions') %>

============================================================
<%= Spree.t('quote_mailer.quote_request_notification_email.quote_request_summary') %>
============================================================

<%= link_to Spree.t('quote_mailer.quote_request_notification_email.see_quote_request'), quote_request_url(@quote_request) %>

<%= Spree.t(:quote_request_number) %>: <%= @quote_request.number %>

<% if @quote_request.quote.present? && @quote_request.quote.is_quote? %>
  <%= link_to "Quote", quote_url(@quote_request.quote) %>
<% end %>
----------------------

<% if @quote_request.comments.any? %>
  <%= Spree.t('quote_mailer.quote_request_notification_email.quote_request_comments') %>
  <% @quote_request.comments.limit(1).each do |comment| %>
    <%= comment.body %>
    ----
    <%= comment.user.email %> (<%= comment.commenter_role.titleize %>)
    || <%= l comment.created_at, format: :short %> ||
  <% end %>
<% end %>

============================================================
<%= Spree.t('quote_mailer.quote_request_notification_email.thanks') %>
