<table>
  <tr>
    <td>
      <p class="lede">
        <% if @quote && @quote.user && @quote.user.email.present? %>
          Dear <%= @quote.user.to_s %>,
        <% else %>
          <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
        <% end %>
      </p>
      <p>
        <%= Spree.t('quote_mailer.quote_request_notification_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('quote_mailer.quote_request_notification_email.quote_request_summary') %>
      </p>

      <%= link_to Spree.t('quote_mailer.quote_request_notification_email.see_quote_request'), quote_request_url(@quote_request) %>

      <dl class="quote-request-info">
        <dt id="quote_request_number" data-hook><%= Spree.t(:quote_request_number) %>:</dt>
        <dd><span><%= @quote_request.number %></span></dd>

        <% if @quote_request.quote.present? && @quote_request.quote.is_quote? %>
          <dt id="quote_request_order" data-hook>Quote</dt>
          <dd><span><%= link_to @quote_request.quote.number, quote_url(@quote_request.quote) %></span></dd>
        <% end %>
      </dl>

      <% if @quote_request.comments.any? %>
        <h3><%= Spree.t('quote_mailer.quote_request_notification_email.quote_request_comments') %></h3>
        <% @quote_request.comments.limit(1).each do |comment| %>
          <p><%= comment.body %></p>
          <div class="user">
            <span><%= comment.user.email %></span> (<%= comment.commenter_role.titleize %>)
          </div>
          <span><%= l comment.created_at, format: :short %></span>
          <hr />
        <% end %>
      <% end %>

      <p>
        <%= Spree.t('quote_mailer.quote_request_notification_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
