<% if @quote && @quote.user && @quote.user.email.present? %>
  Dear <%= @quote.user.to_s %>,
<% else %>
  <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
<% end %>

<%= Spree.t('quote_mailer.quote_request_comment_email.instructions') %>

============================================================
<%= Spree.t('quote_mailer.quote_request_comment_email.quote_request_summary') %>
============================================================

<%= link_to Spree.t('quote_mailer.quote_request_comment_email.see_quote_request'), quote_request_url(@quote_request) %>

<%= Spree.t(:quote_request_number) %>: <%= @quote_request.number %>

<% if @quote_request.quote.present? && @quote_request.quote.is_quote? %>
  <%= link_to "Quote", quote_url(@quote_request.quote) %>
<% end %>
============================================================
<%= Spree.t('quote_mailer.quote_request_comment_email.thanks') %>
