<% if @quote.user && @quote.user.email.present? %>
  Dear <%= @quote.user.to_s %>,
<% else %>
  <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
<% end %>

<%= Spree.t('quote_mailer.quote_email.instructions') %>

------------------------------------------------------------
<%= link_to Spree.t('quote_mailer.please_click_to_see_quote'), spree.quote_url(@quote), class: 'button' %>
------------------------------------------------------------

============================================================
<%= Spree.t('quote_mailer.quote_email.quote_summary') %>
============================================================


<% @quote.line_items.each do |item| %>
  <%= item.variant.sku %> <%= raw(item.variant.product.name) %>
  <% if item.renting_option.present? %>
  <%= "(Renting for " + raw(item.renting_option.presentation) + ")" %>
  <% end %>
  <%= raw(item.variant.options_text) -%> (<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %>
<% end %>
============================================================
<%= Spree.t('quote_mailer.quote_email.subtotal') %> <%= @quote.display_item_total %>
<% if @quote.line_item_adjustments.exists? %>
  <% if @quote.all_adjustments.promotion.eligible.exists? %>
    <% @quote.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
<%= Spree.t(:promotion) %>: <%= label %> <%= Spree::Money.new(adjustments.sum(&:amount), currency: @quote.currency) %>
    <% end %>
  <% end %>
<% end %>

<% @quote.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
<%= Spree.t(:shipping) %>: <%= name %> <%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @quote.currency) %>
<% end %>

<% if @quote.all_adjustments.eligible.tax.exists? %>
  <% @quote.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
<%= Spree.t(:tax) %>: <%= label %> <%= Spree::Money.new(adjustments.sum(&:amount), currency: @quote.currency) %>
  <% end %>
<% end %>

<% @quote.adjustments.eligible.each do |adjustment| %>
  <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
<%= adjustment.label %> <%= adjustment.display_amount %>
<% end %>
============================================================
<%= Spree.t('quote_mailer.quote_email.total') %> <%= @quote.display_total %>

<%= Spree.t('quote_mailer.quote_email.thanks') %>
