<table>
  <tr>
    <td>
      <p class="lede">
        <% if @quote.user && @quote.user.email.present? %>
          Dear <%= @quote.user.to_s %>,
        <% else %>
          <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
        <% end %>
      </p>
      <p>
        <%= Spree.t('quote_mailer.quote_email.instructions') %>
      </p>
      <p>
        <%= link_to Spree.t('quote_mailer.please_click_to_see_quote'),
        spree.quote_url(@quote), class: 'button' %>
      </p>
      <p>
        <%= Spree.t('quote_mailer.quote_email.quote_summary') %>
      </p>
      <table>
        <% @quote.line_items.each do |item| %>
          <% variant = item.variant %>
          <tr>
            <td>>> <%= variant.sku %> << </td>
            <td>
              <%= raw(variant.product.name) %>
              <%= raw(variant.options_text) %>
              <%= "(" + raw(item.renting_option.presentation) + ")" if item.renting_option.present? %>
            </td>
            <td>(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></td>

            <tr>
              <% variant.images.each do |image| %>
                <td><%= image_tag attachments["#{image.id}-#{image.attachment_file_name}"].url %></td>
              <% end %>
            </tr>

            <tr>
              <td><%= raw(variant.product.description) %></td>
            </tr>

            <% if (form_values = variant.frontend_form_values.sort_by{|f| f.custom_field.present?? f.custom_field.created_at : f.created_at }).present? %>
              <% form_values.each do |form_value| %>
                <%= content_tag(:tr) do %>
                  <td>-------</td>
                  <td><%= form_value.field_label.titleize %></td>
                  <td><%= form_value.value.is_a?(Array) ? form_value.value.join(',') : form_value.value %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>

        <% if @quote.company && @quote.doc_hours_from && @quote.doc_hours_to? %>
          <tr><td>Company Details</td></tr>
          <tr>
            <td>Company Name and Shipping Doc Hours</td>
            <td>
              <%= @quote.company %>
            </td>
            <td>
              <%= "#{@quote.doc_hours_from} - #{@quote.doc_hours_to}" %>
            </td>
          </tr>
        <% end %>

        <tr><td>Totals</td></tr>

        <tr>
          <td></td>
          <td>
            <%= Spree.t('quote_mailer.quote_email.subtotal') %>
          </td>
          <td>
            <%= @quote.display_item_total %>
          </td>
        </tr>
        <% if @quote.line_item_adjustments.exists? %>
          <% if @quote.all_adjustments.promotion.eligible.exists? %>
            <% @quote.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <td></td>
                <td><%= Spree.t(:promotion) %> <%= label %>:</td>
                <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @quote.currency) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        <% @quote.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
          <tr>
            <td></td>
            <td><%= Spree.t(:shipping) %> <%= name %>:</td>
            <td><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @quote.currency) %></td>
          </tr>
        <% end %>
        <% if @quote.all_adjustments.eligible.tax.exists? %>
          <% @quote.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <td></td>
              <td><%= Spree.t(:tax) %> <%= label %>:</td>
              <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @quote.currency) %></td>
            </tr>
          <% end %>
        <% end %>
        <% @quote.adjustments.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <tr>
            <td></td>
            <td><%= adjustment.label %>:</td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td>
            <%= Spree.t('quote_mailer.quote_email.total') %>
          </td>
          <td>
            <%= @quote.display_total %>
          </td>
        </tr>
      </table>
      <p>
        <%= Spree.t('quote_mailer.quote_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
