<div data-hook="admin_quote_request_form_fields" class="no-border-top">

  <% if @quote_request.user_id.present? || try_spree_current_user.present? %>
    <%= f.hidden_field :user_id, value: (@quote_request.user_id || try_spree_current_user.try(:id)) %>
  <% else %>
    <div class="field">
      <div data-hook="guest-email" class="field">
        <%= f.label :email %>
        <%= f.text_field :guest_email, :class => 'full-width' %>
      </div>
    </div>
  <% end %>

  <div data-hook="comment_fields">
    <%= f.fields_for :comments do |comment_form| %>
      <%= comment_form.hidden_field :user_id, value: (@quote_request.user_id || try_spree_current_user.try(:id)) %>
      <div class="field">
        <div data-hook="comment-body" class="field">
          <%= comment_form.label :comment, Spree.t('provide_quote_details') %>:
          <%= comment_form.text_area :body, class: "full-width" %>
        </div>
      </div>
      <%= comment_form.hidden_field :commenter_role, value: (comment_form.object.by_admin == true ? 'Admin' : 'Requester') %>
    <% end %>
  </div>

  <br />

  <div class="form-buttons actions pull-right" data-hook="buttons">
    <%= button Spree.t('actions.submit') %>
  </div>
</div>
