<div data-hook="admin_quote_request_new_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @quote_request } %>
</div>

<div data-hook="admin_quote_new_form" class="w-60p">

  <h2 class="pull-left"><%= Spree.t(:quote_request) %></h2>
  <%= link_to "My requests", spree.account_path, class: "button small pull-right" %>
  <br/> <br/> <br/>
  <div id="quote-request-form-wrapper">
    <%= form_for @quote_request, url: quote_requests_path do |f| %>
      <%= render partial: 'form', locals: { f: f} %>
    <% end %>
  </div>
</div>
