<% unless try_spree_current_user %>
<p>Please <%= link_to 'register or login', spree_login_path %></p>
<% end %>
<h2>Quote Request</h2>

<div class="quote-request-info">
  <div id="quote_request_number" class="col-md-3" data-hook>
    <%= Spree.t(:quote_request_number) %>:
    <span><%= @quote_request.number %></span>
  </div>

  <br/>
  <% if @quote_request.quote.present? && @quote_request.quote.is_quote? %>
    <dt id="quote_request_order" data-hook>Quote</dt>
    <dd><span><%= link_to @quote_request.quote.number, quote_path(@quote_request.quote) %></span></dd>
  <% end %>
</div>

<%= render partial: 'spree/shared/quote_requests_comments', locals: { quote_request: @quote_request } %>
