<h1>Quote Checkout Flow View Will Appear Here!</h1>

TODO Show Cart Products And Quote Fields

<div class="form-buttons" data-hook="quote-continue-buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
</div>
