<%
  @edit_url = edit_admin_quote_adjustment_path(@quote, adjustment)
  @delete_url = admin_quote_adjustment_path(@quote, adjustment)
%>
<tr id="<%= spree_dom_id(adjustment) %>"
    data-hook="adjustment_row"
    class="<%= cycle('odd', 'even')%> <%= "adjustment-ineligible" if !adjustment.eligible? %>"
    >
  <td class="align-center"><%= display_adjustable(adjustment.adjustable) %></td>
  <td class="align-center"><%= adjustment.label %></td>
  <td class="align-center"><%= adjustment.display_amount.to_html %></td>
  <td class="align-center"><%= adjustment_state(adjustment) %></td>
  <td class='actions'>
    <% unless adjustment.finalized? %>
      <% if can?(:update, adjustment) %>
        <%= link_to_edit adjustment, :no_text => true %>
      <% end %>

      <% if can?(:destroy, adjustment) %>
        <%= link_to_delete adjustment, :no_text => true %>
      <% end %>
    <% end %>
  </td>
</tr>
