<table class="index adjustments" data-hook="adjustments">
  <thead data-hook="adjustmment_head">
    <tr>
      <th><%= Spree::Adjustment.human_attribute_name(:adjustable) %></th>
      <th><%= Spree::Adjustment.human_attribute_name(:label) %></th>
      <th><%= Spree::Adjustment.human_attribute_name(:amount) %></th>
      <th><%= Spree::Adjustment.human_attribute_name(:state) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "adjustment", :collection => @adjustments %>
    <tr data-hook="adjustment_buttons">
      <td class="align-center" colspan='4'>
        <% if can? :update, Spree::Adjustment %>
            <%= button_to Spree.t(:unfinalize_all_adjustments), adjustments_unfinalize_admin_quote_path(@quote), method: :get, class: "col-md-5" %><br/>
            <%= button_to Spree.t(:finalize_all_adjustments), adjustments_finalize_admin_quote_path(@quote), method: :get, class: "col-md-5" %>
        <% end %>
      </td>
      <td class='actions'>&nbsp;</td>
    </tr>
  </tbody>
</table>
