<div data-hook="admin_adjustment_form_fields">
  <div class="row">

    <div class="col-md-3">
      <%= f.field_container :amount do %>
        <%= f.label :amount, class: 'required' %>
        <%= text_field :adjustment, :amount, class: 'full-width', value: (number_to_currency(f.object.amount, :precision => 2, unit: '$ ') || 0) %>
        <%= f.error_message_on :amount %>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.field_container :label do %>
        <%= f.label :label, class: 'required' %>
        <%= text_field :adjustment, :label, class: 'full-width' %>
        <%= f.error_message_on :label %>
      <% end %>
    </div>

    <% if Spree::AdjustmentReason.active.any? %>
      <div class="col-md-3">
        <%= f.field_container :label do %>
          <%= f.label :adjustment_reason_id %><br/>
          <%= f.collection_select(:adjustment_reason_id, reasons_for(@adjustment), :id, :name, {include_blank: true}, {"data-placeholder" => Spree.t(:select_a_reason), class: 'select2 full-width'}) %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
