<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Adjustments' } %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Adjustment), spree.admin_quote_adjustments_path(@quote)) %>
<% admin_breadcrumb("#{Spree.t('actions.edit')} #{Spree::Adjustment.model_name.human}") %>

<% content_for :page_actions do %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @adjustment } %>
<%= form_for @adjustment, :url => admin_quote_adjustment_path(@quote, @adjustment), :method => :put do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:continue) %>
      <%= link_to Spree.t('actions.cancel'), admin_quote_adjustments_url(@quote), :class => 'button' %>
    </div>
  </fieldset>
<% end %>
