<%= render 'spree/admin/shared/quote_page_actions' %>

<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Adjustments' } %>

<% admin_breadcrumb(plural_resource_name(Spree::Adjustment)) %>

<% content_for :page_actions do %>
  <% if can? :create, Spree::Adjustment %>
    <li>
      <%= button_link_to Spree.t(:new_adjustment), new_admin_quote_adjustment_url(@quote) %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'adjustments_table' %>

<% if @quote.can_add_coupon? %>
  <div data-hook="adjustments_new_coupon_code">
    <%= text_field_tag "coupon_code", "", :placeholder => Spree.t(:coupon_code) %>
    <%= button Spree.t(:add_coupon_code), nil, 'submit', :id => "add_coupon_code" %>
  </div>
<% end %>
<%= javascript_tag do -%>
  var order_number = '<%= @quote.number %>';
<% end -%>
