<%= button_link_to Spree.t('quotes.views.show.see_my_quotes'), spree.account_path %>

<%= button_link_to Spree.t('quotes.views.show.inquiry_admin'), spree.quote_request_path(@quote.quote_request) %>

<% unless @quote.quote_details_approved_by_user? %>
  <%= button_link_to Spree.t('quotes.views.show.approve_quote'), spree.approve_quote_path(@quote) %>
<% end %>

<% if @quote.quote_closed? %>
  <%= button_link_to Spree.t('quotes.views.show.place_into_cart'), spree.place_into_cart_quote_path(@quote),
  data: { confirm: Spree.t(:quote_to_cart_are_you_sure) } %>
<% end %>

<p>
  <%= Spree.t('quotes.views.show.quote_summary') %>
</p>

<table>
  <% @quote.line_items.each do |item| %>
    <tr>
      <td><%= item.variant.sku %></td>
      <td>
        <%= raw(item.variant.product.name) %>
        <%= raw(item.variant.options_text) -%>
      </td>
      <td>(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>
      <%= Spree.t('quotes.views.show.subtotal') %>
    </td>
    <td>
      <%= @quote.display_item_total %>
    </td>
  </tr>
  <% if @quote.line_item_adjustments.exists? %>
    <% if @quote.all_adjustments.promotion.eligible.exists? %>
      <% @quote.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
        <tr>
          <td></td>
          <td><%= Spree.t(:promotion) %> <%= label %>:</td>
          <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @quote.currency) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <% @quote.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
    <tr>
      <td></td>
      <td><%= Spree.t(:shipping) %> <%= name %>:</td>
      <td><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @quote.currency) %></td>
    </tr>
  <% end %>
  <% if @quote.all_adjustments.eligible.tax.exists? %>
    <% @quote.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
      <tr>
        <td></td>
        <td><%= Spree.t(:tax) %> <%= label %>:</td>
        <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: @quote.currency) %></td>
      </tr>
    <% end %>
  <% end %>
  <% @quote.adjustments.eligible.each do |adjustment| %>
    <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
    <tr>
      <td></td>
      <td><%= adjustment.label %>:</td>
      <td><%= adjustment.display_amount %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>
      <%= Spree.t('quotes.views.show.total') %>
    </td>
    <td>
      <%= @quote.display_total %>
    </td>
  </tr>
</table>
