/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

#quote-cart{
  float: right;
}

.full-width {width: 100%;}
.w-60p {width: 60%;}
[data-hook="comment-body"] textarea {height: 80px;}
.new_comment .form-buttons {float: right; margin-top: 10px;}
#quote_request_number {text-transform: uppercase; font-weight: bold; font-size: 14px; margin-top: 20px;}
#quote_request_number span{text-transform: none;}

@media only screen and (max-width: 979px) {
  .w-60p {width: 100%;}
}