<fieldset class="no-border-bottom" id="add-sales-rep-company" data-hook="add_sales_rep_company">
  <legend align="center"><%= Spree.t(:sales_rep) %></legend>

  <div class="col-md-12">
    <div data-hook="add_sales_rep">
      <%= f.field_container :sales_rep do %>
        <div class="pull-left"><%= f.label :sales_rep_id, Spree.t(:sales_rep_label) %></div>
        <div class="pull-left margin-left-5"><%= f.field_hint :sales_rep %></div>
        <%= f.collection_select(:sales_rep_id,
          Spree.user_class.sales_rep, :id, :email,
          { :class => 'select2',
            :selected => try_spree_current_user.id }) %>
        <%= f.error_message_on :sales_rep %>
      <% end %>
    </div>
  </div>

  <div class="col-md-12">
    <div data-hook="add_company">
      <%= f.field_container :company do %>
        <div class="pull-left"><%= f.label :company, Spree.t(:company) %></div>
        <div class="pull-left margin-left-5"><%= f.field_hint :company %></div>
        <%= f.text_field(:company, {placeholder: "Company Name", class: "full-width"}) %>
        <%= f.error_message_on :company %>
      <% end %>
    </div>
  </div>

  <%= render partial: 'spree/admin/shared/company_doc_hours', locals: { f: f } %>
</fieldset>
