<div id="add-line-item" data-hook>
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:add_product) %></legend>

    <div class="col-md-9">
      <div data-hook="add_product_name" class="field">
        <%= label_tag :add_line_item_variant_id, Spree.t(:name_or_sku) %>
        <%= text_field_tag :add_line_item_variant_id, "", :class => "variant_autocomplete full-width" %>
      </div>
    </div>

  </fieldset>

  <div id="stock_details"></div>
</div>
