<% success = flash.discard(:success)
if success %>
  show_flash('success', "<%= j success %>")
<% end %>
if(window.location.pathname != '<%= spree.admin_quotes_path %>'){
  window.location.href = '<%= spree.admin_quotes_path %>'
}
