 <div data-hook="admin_quote_form_fields">
  <% if @line_item.try(:errors).present? %>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <% if !Spree::Order.checkout_step_names.include?(:delivery) %>
    <%= render :partial => "spree/admin/quotes/line_items", :locals => { :quote => quote } %>
  <% end %>

  <div class="js-order-line-item-adjustments <%= "hidden" if quote.line_item_adjustments.eligible.none? %>">
    <%= render :partial => "spree/admin/quotes/adjustments", :locals => {
          :adjustments => @quote.line_item_adjustments,
          :quote => quote,
          :title => Spree.t(:line_item_adjustments)
     } %>
  </div>

  <div class="js-order-shipment-adjustments <%= "hidden" if quote.shipment_adjustments.eligible.none? %>">
    <%= render :partial => "spree/admin/quotes/adjustments", :locals => {
          :adjustments => @quote.shipment_adjustments,
          :quote => quote,
          :title => Spree.t(:shipment_adjustments)
     } %>
  </div>

  <div class="js-order-adjustments <%= "hidden" if quote.adjustments.eligible.none? %>">
    <%= render :partial => "spree/admin/quotes/adjustments", :locals => {
          :adjustments => @quote.adjustments,
          :quote => quote,
          :title => Spree.t(:quote_adjustments)
     } %>
  </div>

  <% if quote.line_items.exists? %>
    <fieldset class="no-border-bottom" id="quote-total" data-hook="order_details_total">
      <legend><%= Spree.t(:quote_total) %></legend>
      <span class="order-total"><%= quote.display_total %></span>
    </fieldset>
  <% end %>

  <%= javascript_tag do -%>
    var order_number = '<%= @quote.number %>';
  <% end -%>
</div>
