<div data-hook="admin_order_form_fields" class="js-order-cart-page" data-order-number="<%= quote.number %>">
  <% if @line_item.try(:errors).present? %>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <%= render :partial => "spree/admin/quotes/line_items", :locals => { :quote => quote } %>

  <% if can?(:update, @quote) && can?(:create, Spree::LineItem) %>
    <button class="js-add-line-item" disabled><%= t('spree.add_line_item') %></button>
  <% end %>

  <%= render "spree/admin/quotes/quote_details", { quote: @quote } %>
</div>
