<div class="js-order-line-item-adjustments <%= "hidden" if quote.line_item_adjustments.eligible.none? %>">

  <%=
    render "spree/admin/quotes/adjustments", {
      adjustments: quote.line_item_adjustments,
      quote: quote,
      title: Spree.t(:line_item_adjustments)
    }
  %>
</div>
<div class="js-order-shipment-adjustments <%= "hidden" if quote.shipment_adjustments.eligible.none? %>">
  <%=
    render "spree/admin/quotes/adjustments", {
      adjustments: quote.shipment_adjustments,
      quote: quote,
      title: Spree.t(:shipment_adjustments)
    }
  %>
</div>
<div class="js-order-adjustments <%= "hidden" if quote.adjustments.eligible.none? %>">
  <%=
    render "spree/admin/quotes/adjustments", {
      adjustments: quote.adjustments,
      quote: quote,
      title: Spree.t(:quote_adjustments)
    }
  %>
</div>

Teste

<fieldset class="no-border-bottom <%= "hidden" if quote.line_items.none? %>" id="order-total" data-hook="order_details_total">
  <legend><%= Spree.t(:order_total) %></legend>
  <span class="order-total"><%= quote.display_total %></span>
</fieldset>
