<%= render 'spree/admin/shared/quote_page_actions' %>

<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Cart' } %>

<% admin_breadcrumb(Spree.t(:cart)) %>


<div data-hook="admin_order_edit_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @quote } %>
</div>

<% if @quote.payments.exists? && @quote.is_risky? %>
    <%= render 'spree/admin/quotes/risk_analysis', latest_payment: @quote.payments.reorder("created_at DESC").first %>
<% end %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render :partial => 'line_items_edit_form', :locals => { :quote => @quote } %>
  </div>
</div>
