<%= render 'spree/admin/shared/quote_page_actions' %>

<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Shipments' } %>

<div data-hook="admin_quote_edit_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @quote } %>
</div>

<% if @quote.payments.exists? && @quote.is_risky? %>
  <%= render 'spree/admin/quotes/risk_analysis', latest_payment: @quote.payments.reorder("created_at DESC").first %>
<% end %>

<% if can?(:update, Spree::Shipment) && can?(:update, @quote) && @quote.shipment_state != "shipped" %>
  <%= render partial: 'add_product' %>
<% end %>

<% if @quote.line_items.empty? %>
  <div class="no-objects-found">
    <%= Spree.t(:your_quote_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_quote_edit_form">
  <div id="order-form-wrapper">
    <%= render partial: 'form', locals: { quote: @quote } %>
  </div>
</div>
