<% admin_breadcrumb(plural_resource_name(Spree::Quote)) %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_quote), new_admin_quote_url, :id => 'admin_new_quote' %>

    <%= button_link_to Spree.t(:quote_requests), admin_quote_requests_path, id: 'admin_quote_requests' %>
  </li>
<% end if can? :create, Spree::Quote %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_quotes_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="field-block col-md-4">
          <div class="date-range-filter field">
            <%= label_tag :q_created_at_gt, Spree.t(:date_range) %>
            <div class="date-range-fields">
              <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => Spree.t(:start) %>

              <span class="range-divider">
                <i class="fa fa-arrow-right"></i>
              </span>

              <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => Spree.t(:stop) %>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="field">
            <%= label_tag :q_email_cont, Spree.t(:email) %>
            <%= f.text_field :email_cont %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="field">
            <%= label_tag :q_state_eq, Spree.t(:status) %>
            <!-- TODO state_eq should receive new states coming from quote -->
            <%= f.select :state_eq, Spree::Quote.state_machines[:state].states.collect {|s| [Spree.t("order_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2 full-width' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= label_tag :q_bill_address_firstname_start, Spree.t(:first_name_begins_with) %>
            <%= f.text_field :bill_address_firstname_start, :size => 25 %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="field">
            <%= label_tag :q_bill_address_lastname_start, Spree.t(:last_name_begins_with) %>
            <%= f.text_field :bill_address_lastname_start, :size => 25%>
          </div>
        </div>

        <div class="col-md-4">
          <div class="field" data-hook="sku-select">
            <%= label_tag :q_line_items_variant_id_in, Spree.t(:variant) %>
            <%= f.text_field :line_items_variant_id_in, class: "variant_autocomplete full-width" %>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_quotes_index_search_buttons">
          <%= button Spree.t(:filter_results) %>
        </div>
      </div>
    <% end %>
<% end %>

<%= paginate @quotes, theme: "solidus_admin" %>

<% if @quotes.any? %>
  <table class="index" id="listing_quotes" data-hook>
    <colgroup>
       <col style="width: 13%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 12%;">
       <% if Spree::Quote.checkout_step_names.include?(:delivery) %>
         <col style="width: 12%;">
       <% end %>
       <col style="width: 25%;">
       <col style="width: 10%;">
       <col style="width: 8%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_quotes_index_headers">
        <th><%= sort_link @search, :created_at, 'Quote Date' %></th>
        <th><%= sort_link @search, :number %></th>
        <th><%= sort_link @search, :quote_state %></th>
        <th><%= sort_link @search, :email %></th>
        <th><%= sort_link @search, :quote_details_approved_by_user?, "Approved?" %></th>
        <th><%= sort_link @search, :total %></th>
        <th data-hook="admin_quotes_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @quotes.each do |quote| %>
      <tr data-hook="admin_quotes_index_rows" class="state-<%= quote.state.downcase %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= l quote.created_at.to_date %></td>
        <td class="align-center"><%= link_to quote.number, edit_admin_quote_path(quote) %></td>
        <td class="align-center"><span><%= quote.quote_state %></span></td>
        <td>
          <% if quote.user %>
            <%= link_to quote.email, edit_admin_user_path(quote.user) %>
          <% else %>
            <%= mail_to quote.email %>
          <% end %>
        </td>
        <td class="align-center"><span><%= quote.quote_details_approved_by_user? %></span></td>
        <td class="align-center"><%= quote.display_total.to_html %></td>
        <td class='actions align-center' data-hook="admin_quotes_index_row_actions">
          <%= link_to_edit_url edit_admin_quote_path(quote), :title => "admin_edit_#{dom_id(quote)}", :no_text => true %>
          &nbsp;
          <%= link_to '', admin_quote_path(quote),
            class: 'delete-resource fa fa-trash icon_link with-tip no-text',
            data: { confirm: Spree.t(:are_you_sure), method: :delete } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="col-md-9 no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::Quote,
                 new_resource_url: spree.new_admin_quote_path %>
  </div>
<% end %>

<%= paginate @quotes, theme: "solidus_admin" %>
