<%= render 'spree/admin/shared/quote_page_actions' %>

<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Request' } %>

<% admin_breadcrumb(Spree.t(:quote_request)) %>

<div data-hook="admin_quote_edit_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @quote } %>
</div>

<h3>Quote Request Details</h3>

<dl class="quote-request-info">
  <dt id="quote_request_number" data-hook><%= Spree.t(:quote_request_number) %>:</dt>
  <dd><span><%= @quote_request.number %></span></dd>

  <dt id="quote_request_date" data-hook><%= Spree.t(:quote_request_created_at) %>:</dt>
  <dd><span><%= l @quote_request.created_at.to_date %></span></dd>
</dl>

<%= render partial: 'spree/shared/quote_requests_comments', locals: { quote_request: @quote_request } %>
