/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/

[data-hook="admin_quotes_index_search"] .date-range-filter input.datepicker {
  width:140px !important;
}

.full-width {width: 100%;}
.margin-left-5 {margin-left: 5px;}