<div data-hook="account_my_quote_requests" class="account-my-quote-requests">

  <h3><%= Spree.t(:my_quote_requests) %></h3>
  <% if @user.quote_requests.any? %>
    <table class="quote-request-summary">
      <thead>
      <tr>
      <th class="quote-request-number"><%= Spree.t(:quote_request_number) %></th>
      </tr>
      </thead>
      <tbody>
      <% @user.quote_requests.each do |quote_request| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td class="quote-request-number"><%= link_to quote_request.number, quote_request_path(quote_request) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= Spree.t(:you_have_no_quote_requests_yet) %></p>
  <% end %>
  <br />

</div>
