<div data-hook="account_my_quotes" class="account-my-quotes">

  <h3><%= Spree.t(:my_unfinished_quotes) %></h3>
  <% if @user.unfinished_quotes.any? %>
    <table class="quote-summary">
      <thead>
      <tr>
        <th class="quote-number"><%= I18n.t(:number, scope: 'activerecord.attributes.spree/quote') %></th>
        <th class="quote-date"><%= Spree.t(:date) %></th>
        <th class="quote-approved"><%= Spree.t(:approved?) %></th>
        <th class="quote-status"><%= Spree.t(:status) %></th>
        <th class="quote-total"><%= Spree.t(:total) %></th>
        <th class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @user.unfinished_quotes.each do |quote| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td class="quote-number"><%= link_to quote.number, quote_url(quote) %></td>
          <td class="quote-date"><%= l quote.created_at.to_date %></td>
          <td class="quote-approved"><%= quote.quote_details_approved_by_user? %></td>
          <td class="quote-status"><%= quote.quote_state.present?? quote.quote_state.titleize : "None" %></td>
          <td class="quote-total"><%= quote.display_total %></td>
          <td class="actions align-center">
            <%= link_to '', quote_path(quote), class: "fa fa-edit no-text icon_link with-tip" %>
            &nbsp;
            <%= link_to '', quote_path(quote),
              class: 'delete-resource fa fa-trash icon_link with-tip no-text',
              data: { confirm: Spree.t(:are_you_sure), method: :delete } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= Spree.t(:you_have_no_quotes_yet) %></p>
  <% end %>
  <br />

</div>
