<% content_for :page_actions do %>
  <% if @quote.is_quote? && !@quote.quote_details_confirmation_delivered? %>
    <li><%= button_link_to Spree.t(:send_to_user), send_to_user_admin_quote_url(@quote), :method => :post %></li>
  <% end %>

  <% if @quote.is_quote? && @quote.quote_details_approved_by_user? %>
    <li><%= button_link_to Spree.t(:save_quote_as_order), save_as_order_admin_quote_url(@quote), :method => :post %></li>
  <% end %>

  <% if @quote.is_quote? && @quote.quote_details_confirmation_delivered? &&
    !@quote.quote_details_approved_by_user? %>
    <li><%= Spree.t(:waiting_user_approval) %></li>
  <% end %>
<% end %>
