<% admin_breadcrumb(link_to plural_resource_name(Spree::Quote), spree.admin_quotes_path) %>
<% admin_breadcrumb(link_to "##{@quote.number}", spree.edit_admin_quote_path(@quote)) %>

<% content_for :sidebar_title do %>
  <%= Spree.t(:quote_information) %>
<% end %>

<% content_for :sidebar do %>
  <%= render "spree/admin/shared/quote_summary", checkout_steps: @quote.checkout_steps %>
<% end %>

<% content_for :tabs do %>
  <%= render "spree/admin/shared/quote_submenu", current: current, checkout_steps: @quote.checkout_steps %>
<% end %>
