<nav>
  <ul class="tabs" data-hook="admin_quote_tabs">
    <% if @quote.quote_request.present? %>
      <li class="<%= "active" if current == "Request" %>" data-hook='admin_quote_tabs_quote_request'>
        <%= link_to Spree.t(:request), spree.quote_request_admin_quote_url(@quote) %>
      </li>
    <% end %>

    <% if (@quote.shipments.count == 0 || @quote.shipped_shipments.count == 0) %>
      <li class="<%= "active" if current == "Cart" %>" data-hook='admin_quote_tabs_quote_details'>
        <%= link_to Spree.t(:cart), spree.cart_admin_quote_url(@quote) %>
      </li>
    <% end %>

    <li class="<%= "active" if (current == "Customer Details") %>" data-hook='admin_order_tabs_customer_details'>
      <% if can?(:update, @quote) %>
        <%= link_to Spree.t(:customer), spree.edit_admin_quote_customer_url(@quote) %>
      <% else %>
        <%= link_to Spree.t(:customer), spree.admin_quote_customer_url(@quote) %>
      <% end %>
    </li>

    <% if can? :display, Spree::Adjustment %>
      <li class="<%= "active" if current == "Adjustments" %>" data-hook='admin_quote_tabs_adjustments'>
        <%= link_to plural_resource_name(Spree::Adjustment), spree.admin_quote_adjustments_url(@quote) %>
      </li>
    <% end %>
  </ul>
</nav>
