<header id="quote_tab_summary" data-hook>
  <dl class="additional-info">
    <dt id="quote_status" data-hook><%= Spree.t(:status) %>:</dt>
    <dd><span><%= @quote.quote_state %></span></dd>

    <% if @quote.user.present? %>
      <dt data-hook='admin_quote_user_link'><%= Spree.t(:user) %>:</dt>
      <dd id='quote_user_link'><%= link_to @quote.user.email, spree.edit_admin_user_path(@quote.user) %></dd>
    <% end %>

    <%= render partial: 'spree/admin/shared/sales_and_company_tab_summary' %>

    <% if @quote.quote_details_approved_by_user? %>
      <dt><%= Spree::QuoteDetails.human_attribute_name(:approved_at) %></dt>
      <dd><%= pretty_time(@quote.quote_approved_at) %></dd>
    <% else %>
      <dt><%= Spree.t(:approval_status) %></dt>
      <dd><%= Spree.t(:waiting_user_approval) %></dd>
    <% end %>

    <dt data-hook='admin_quote_tab_subtotal_title'><%= Spree::Quote.human_attribute_name(:item_total) %>:</dt>
    <dd id='item_total'><%= @quote.display_item_total.to_html %></dd>
    <% if checkout_steps.include?("delivery") && @quote.ship_total > 0 %>
      <dt data-hook='admin_quote_tab_ship_total_title'><%= Spree::Quote.human_attribute_name(:shipment_total) %>:</dt>
      <dd id='ship_total'><%= @quote.display_ship_total.to_html %></dd>
    <% end %>

    <% if @quote.included_tax_total != 0 %>
      <dt data-hook='admin_quote_tab_included_tax_title'><%= Spree::Quote.human_attribute_name(:included_tax_total) %>:</dt>
      <dd id='included_tax_total'><%= @quote.display_included_tax_total.to_html %></dd>
    <% end %>

    <% if @quote.additional_tax_total != 0 %>
      <dt data-hook='admin_quote_tab_additional_tax_title'><%= Spree::Quote.human_attribute_name(:additional_tax_total) %>:</dt>
      <dd id='additional_tax_total'><%= @quote.display_additional_tax_total.to_html %></dd>
    <% end %>

    <dt data-hook='admin_quote_tab_total_title'><%= Spree::Quote.human_attribute_name(:total) %>:</dt>
    <dd id='quote_total'><%= @quote.display_total.to_html %></dd>

    <%= link_to Spree.t(:discard_quote), admin_quote_path(@quote),
      class: 'text-center delete-resource fa fa-trash icon_link with-tip button',
      data: { confirm: Spree.t(:are_you_sure), method: :delete } %>
  </dl>
</header>
