<% if (@quote || @order).company.present? %>
  <dt data-hook='admin_quote_company'><%= Spree.t(:company) %>:</dt>
  <dd id='quote_company'><%= (@quote || @order).company %></dd>
<% end %>

<% if (@quote || @order).sales_rep.present? %>
  <dt data-hook='admin_quote_sales_rep_link'><%= Spree.t(:sales_rep) %>:</dt>
  <dd id='quote_sales_rep_link'><%= (@quote || @order).sales_rep.email %></dd>
<% end %>
