<fieldset data-hook="admin_customer_detail_form_fields" class="no-border-top">

  <% if can?(:update, @quote) %>
    <%= render :partial => 'spree/admin/quotes/add_sales_rep_company', locals: {f: f} %>
  <% end %>

  <fieldset class="index no-border-bottom" data-hook="customer_guest">
    <legend align="center"><%= Spree.t(:account) %></legend>

    <div data-hook="customer_fields" class="row">
      <div class="col-md-9">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, :class => 'full-width' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="field">
          <%= label_tag nil, Spree.t(:guest_checkout) %>
          <ul>
            <% if @quote.completed? %>
              <li>
                <%= @quote.user.nil? ? Spree.t(:say_yes) : Spree.t(:say_no) %>
              </li>
            <% else %>
              <% guest = @quote.user.nil? %>
              <li>
                <%= radio_button_tag :guest_checkout, true, guest %>
                <%= label_tag :guest_checkout_true, Spree.t(:say_yes) %>
              </li>
              <li>
                <%= radio_button_tag :guest_checkout, false, !guest, :disabled => @quote.cart? %>
                <%= label_tag :guest_checkout_false, Spree.t(:say_no) %>
              </li>
              <%= hidden_field_tag :user_id, @quote.user_id %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-6" data-hook="ship_address_wrapper">
      <fieldset class="no-border-bottom">
        <legend align="center"><%= Spree.t(:shipping_address) %></legend>
        <% if Spree::Config[:order_bill_address_used] %>
          <div class="field col-md-12">
            <span data-hook="use_billing">
              <%= check_box_tag 'order[use_billing]', '1', (@quote.ship_address.new_record? && @quote.bill_address == @quote.ship_address), class: "pull-left" %>
              <%= label_tag 'order[use_billing]', Spree.t(:use_billing_address), class: "col-md-6 margin-left-5" %>
            </span>
          </div>
        <% end %>

        <div class="js-shipping-address">
          <%= f.fields_for :ship_address do |sa_form| %>
            <%= render partial: 'spree/admin/shared/address_form', locals: { f: sa_form, type: "shipping" } %>
          <% end %>
        </div>
      </fieldset>
    </div>

    <% if Spree::Config[:order_bill_address_used] %>
      <div class="col-md-6" data-hook="bill_address_wrapper">
        <fieldset class="no-border-bottom">
          <legend align="center"><%= Spree.t(:billing_address) %></legend>
          <div class="js-billing-address" style="margin-top: 39px;">
            <%= f.fields_for :bill_address do |ba_form| %>
              <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => ba_form, :type => "billing" } %>
            <% end %>
          </div>
        </fieldset>
      </div>
    <% end %>
  </div>

  <div class="clear"></div>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.update') %>
  </div>
</fieldset>
