<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Customer Details' } %>

<% admin_breadcrumb(Spree.t(:customer_details)) %>

<% content_for :page_actions do %>
<% end %>

<div class="js-customer-details" data-order-number="<%= @quote.number %>">
  <div id="select-customer" data-hook>
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:customer_search) %></legend>
      <%= hidden_field_tag :customer_search,  nil, :class => 'fullwidth title' %>
    </fieldset>
  </div>

  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @quote } %>

  <%= form_for @quote, :as => :order, :url => admin_quote_customer_url(@quote) do |f| %>
    <%= render 'form', :f => f %>
  <% end %>
</div>
