<%= render 'spree/admin/shared/quote_page_actions' %>

<%= render :partial => 'spree/admin/shared/quote_tabs', :locals => { :current => 'Customer Details' } %>

<% admin_breadcrumb(Spree.t(:customer_details)) %>


<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_quotes_list), admin_quotes_path %></li>
<% end %>


<main class="col-md-5">
  <section>
    <%= content_tag :h4, Spree.t(:account) %>
    <%= Spree.t(:email) %>: <%= @quote.email %><br>
    <%= Spree.t(:guest_checkout) %>: <%= @quote.user ? Spree.t(:yes) : Spree.t(:no) %>
  </section>

  <section>
    <%= content_tag :h4, Spree.t(:billing_address) %>
    <%= render "spree/admin/shared/address", address: @quote.bill_address %>
  </section>

  <section>
    <%= content_tag :h4, Spree.t(:shipping_address) %>
    <%= render "spree/admin/shared/address", address: @quote.ship_address %>
  </section>
</main>
