<%= link_to_cart(simple_current_order.quote_closed?? 'Current Quote Cart' : 'Cart') %>
<% if simple_current_order.quote_closed? %>
  &nbsp; |
  <%= link_to Spree.t(:leave_quote_cart), leave_it_quote_path(simple_current_order), class: 'save_and_clear_cart' %>
<% end %>
