<div id="quote-request-comment-form-wrapper" class="w-60p">

  <div data-hook="admin_quote_edit_header">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @comment } %>
  </div>

  <%= form_for @comment, url: comment_quote_requests_path do |f| %>
    <%= f.hidden_field :user_id, value: (quote_request.user_id || try_spree_current_user.try(:id)) %>
    <div class="row">
    <div class="field">
      <div data-hook="comment-body" class="field">
        <%= f.label :comment %>:<br/>
        <%= f.text_area :body, class: "full-width" %>
      </div>
      <%= f.hidden_field :guest_email, value: quote_request.guest_email %>
      <%= f.hidden_field :commentable_type, value: Spree::QuoteRequest %>
      <%= f.hidden_field :commentable_id, value: quote_request.id %>
      <%= f.hidden_field :commenter_role, value: (@comment.by_admin == true ? 'Admin' : 'Requester') %>
    </div>

    <div class="form-buttons actions" data-hook="buttons">
      <%= button Spree.t('actions.submit') %>
    </div>
    </div>
  <% end %>
</div>

<h3>Comments</h3>

<div class="w-60p">
<hr />

<% if quote_request.comments.any? %>
  <% quote_request.comments.each do |comment| %>
    <p><%= comment.body %></p>
    <div class="pull-right">
      <div class="user">
        <span><%= comment.commenter %></span> (<%= comment.commenter_role.titleize %>) -
        <em><%= l comment.created_at, format: :short %></em>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr />
  <% end %>
<% else %>
  <span class="text-align">There is not any comment</span>
<% end %>

</div>
