<%= paginate @quote_requests, theme: "solidus_admin" %>

<% if @quote_requests.any? %>
  <table class="index" id="listing_quote_requests" data-hook>
    <colgroup>
       <col style="width: 13%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 12%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_quote_requests_index_headers">
        <th><%= sort_link @search, :created_at, 'Quote Request Date' %></th>
        <th><%= sort_link @search, :number %></th>
        <th><%= sort_link @search, :quote %></th>
        <th><%= sort_link @search, :status %></th>
      </tr>
    </thead>
    <tbody>
    <% @quote_requests.each do |quote_request| %>
      <tr data-hook="admin_quote_requests_index_rows" class="<%= cycle('odd', 'even') %>">
        <td class="align-center"><%= l quote_request.created_at.to_date %></td>
        <td class="align-center"><%= link_to quote_request.number, admin_quote_request_path(quote_request) %></td>
        <td class="align-center">
          <span>
            <% if quote_request.quote.present? %>
              <%= link_to quote_request.quote.number, quote_request_admin_quote_path(quote_request.quote) %>
            <% else %>
              None
            <% end %>
          </span>
        </td>
        <td class="align-center"><span><%= quote_request.status.titleize %></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  There is not any quote requests yet.
<% end %>

<%= paginate @quote_requests, theme: "solidus_admin" %>
