<h3>Quote Request</h3>

<dl class="quote-request-info">
  <dt id="quote_request_number" data-hook><%= Spree.t(:quote_request_number) %>:</dt>
  <dd><span><%= @quote_request.number %></span></dd>

  <dt id="quote_request_status" data-hook><%= Spree.t(:quote_request_status) %>:</dt>
  <dd><span><%= @quote_request.status.titleize %></span></dd>

  <dt id="quote_request_order" data-hook>Quote</dt>
  <% if @quote_request.quote.present? && @quote_request.quote.is_quote? %>
    <dd><span><%= link_to @quote_request.quote.number, cart_admin_quote_path(@quote_request.quote) %></span></dd>
  <% else %>
    <dd><span><%= link_to Spree.t(:create_quote), create_quote_admin_quote_request_path(@quote_request, user_id: try_spree_current_user.try(:id)) %></span></dd>
  <% end %>
</dl>

<%= render partial: 'spree/shared/quote_requests_comments', locals: { quote_request: @quote_request } %>
